.report-page {
  section {
    background-color: #37a87a;
    min-height: 100vh;
    color: #fff;
    padding: 0;

    h1 {
      font-size: 32px;
      margin-bottom: 30px;
    }

    .address {
      font-size: 16px;
    }
  }

  .score-panels {
    background-color: #fff;
    color: #242424;
    height: 715px;

    .avg-score .donut-chart p.score b {
      font-size: 32px;
    }

    .donut-chart {
      position: relative;

      p.score {
        position: absolute;
        font-size: 24px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        text-align: center;

        b {
          font-size: 36px;
        }
      }
    }

    .single-score {
      background-color: #fff;
      transition: all 0.2s ease-in-out;

      p.summary {
        display: none;
      }

      &:hover {
        transform: scale(1.05);
        position: absolute;
        z-index: 10;

        p.summary {
          display: block;
        }
      }
    }
  }

  .full-report a {
    color: #fff;
  }

  @media screen and (max-width: 767px) {
    section {
      padding-top: 180px;

      .score-panels {
        height: inherit;

        .avg-score .donut-chart p.score b {
          font-size: 24px;
        }

        .donut-chart p.score {
          font-size: 16px;

          b {
            font-size: 24px;
          }
        }

        .single-score:hover {
          position: relative;
        }
      }
    }
  }
}
